<nav class="navbar navbar-default">
<div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">     
    <a href="/" class="pull-left"><img alt="iPortal" src="/images/powertoolslogo.png"></a>
    <a class="navbar-brand" href="/" style="padding-left: 20px;"> iPortal</a>
    </div>
    
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">                                                       
    <ul class="nav navbar-nav navbar-right">                                       
        <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-menu-hamburger"></span></a>
        <ul class="dropdown-menu">
            <li><a href="/list"><i class="glyphicon glyphicon-th-list"></i> Show List View</a></li>
            <li role="separator" class="divider"></li>
            <li><a class="toggle-corp-groups"><i id="grpCorp" class="glyphicon glyphicon-unchecked"></i> Corporate Groups</a></li>
            <li><a class="toggle-qlik-groups"><i id="grpQlik" class="glyphicon glyphicon-unchecked"></i> Qlik Groups</a></li>
            <li><a class="toggle-license-group"><i id="grpLic" class="glyphicon glyphicon-unchecked"></i> License Group</a></li>
            <li role="separator" class="divider"></li>
            <li><a data-toggle="modal" data-target="#myModal"><i class="glyphicon glyphicon-eye-open"></i> About iPortal</a></li>                      
        </ul>
        </li>
    </ul>
    </div>  
    
</div><!-- /.container-fluid -->
</nav> 

<div class="grid-container">   

    {{#each users}}
        <div class="user-panel">                                                       
            <div class="user-panel-name">{{this.name}}</div>
            <div class="user-panel-title"><a class="user-panel-title" title="{{this.description}}">{{this.title}}</a></div>            
            <div class="user-panel-body" style="background-image: url('/images/{{../cfg.theme}}/{{this.image}}');">
                <div id="corp-group{{@index}}" class="corp-panel-groups" style="display:none">
                    {{#each this.corpGroups}}
                    {{this.corpGroups}}
                        <button class="group-btn">{{this}}</button>
                    {{/each}}
                </div>
                <div id="qlik-group{{@index}}" class="qlik-panel-groups" style="display:none">
                    {{#each this.qlikGroups}}
                    {{this.qlikGroups}}
                        <button class="group-btn">{{this}}</button>
                    {{/each}}
                </div>
                <div id="license-group{{@index}}" class="lic-panel-groups" style="display:none">                                        
                    <button class="group-btn">{{this.license}}</button>                    
                </div>
                <div class="user-panel-apps">                          
                    {{#each this.apps}}
                    
                        <a class="btn {{ButtonStyle this}} btn-sm user-app-btn" href="/login?user={{../userid}}&directory={{../udc}}&app={{this}}">{{this}}</a>
                    {{/each}}
                </div>                       
             </div>
        </div>
    {{/each}}
    
    <script type="text/javascript">
    <!--      
        
    //-->
    </script>


</div>


