<div class="user-container">   

    
    {{#each users}}
        <div class="user-panel">
            <div class="user-panel-name">{{this.name}}</div>
            <div class="user-panel-title">{{this.title}}</div>
            <div class="user-panel-groups">
                {{#each this.groups}}
                {{this.groups}}
                    <button class="group-btn">{{this}}</button>
                {{/each}}
            </div>
            <div class="user-panel-apps">                          
                {{#each this.apps}}
                   
                    <a class="btn {{ButtonStyle this}} btn-sm user-app-btn" href="/login?user={{../userid}}&directory={{../udc}}&app={{this}}">{{this}}</a>
                {{/each}}
            </div>                       
        </div>
    {{/each}}


</div>


