<div class="user-container">   

    {{#each users}}
        <div class="user-panel">                                                       
            <div class="user-panel-name">{{this.name}}</div>
            <div class="user-panel-title"><a class="user-panel-title" onclick="toggle_group_visibility('user-group{{@index}}');">{{this.title}}</a></div>            
            <div class="user-panel-body" style="background-image: url('/images/{{../cfg.theme}}/{{this.image}}');">
                <div id="user-group{{@index}}" class="user-panel-groups">
                    {{#each this.groups}}
                    {{this.groups}}
                        <button class="group-btn">{{this}}</button>
                    {{/each}}
                </div>                                 
                <div class="user-panel-apps">                          
                    {{#each this.apps}}
                    
                        <a class="btn {{ButtonStyle this}} btn-sm user-app-btn" href="/login?user={{../userid}}&directory={{../udc}}&app={{this}}">{{this}}</a>
                    {{/each}}
                </div>                       
             </div>
        </div>
    {{/each}}
    
    <script type="text/javascript">
    <!--
        function toggle_group_visibility(id) {
        var e = document.getElementById(id);
        if(e.style.display == 'block')
            e.style.display = 'none';
        else
            e.style.display = 'block';
        }
        
        function show_all_group_visibility() {            
           $('[id^="user-group"]').show(); 
        }
        
        function hide_all_group_visibility() {            
           $('[id^="user-group"]').hide(); 
        }
    //-->
    </script>


</div>


