<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
    <link rel='stylesheet' href='/stylesheets/datatables.min.css'/>  
    <script type="text/javascript" src="/javascripts/jquery.js"></script>
    <script type="text/javascript" src="/javascripts/bootstrap.js"></script>       
    <script type="text/javascript" src="/javascripts/datatables.min.js"></script>     
    <script type="text/javascript" src="/javascripts/iportal.js"></script>         
  </head>
  <body>
    <div class="container">
      <div class="col-md-12">
                        
          {{{body}}}    
          
          <!-- Modal: About iPortal -->
          <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog modal-lg">
            
              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">About iPortal</h4>
                </div>
                <div class="modal-body">
                  <p>The iPortal application is used to impersonate various users within a Qlik Sense Enterprise 
                  environment. It is primarily used to test the results of security rule changes on a population of
                  users.  It should not be deployed in your production environment because it bypasses the authentication
                  challenge for users.</p>
                  <p><h4>Contributors</h4>
                  <ul>
                    <li>Eric Bracke</li>
                    <li>Brad Peterman</li>
                    <li>Jeffrey Goldberg</li>
                    <li>Tom McAlees</li>
                  </ul>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>
              
            </div>
          </div>                      
            
          <p class="footer">Qlik Sense Impersonation Portal (iPortal). Refer to <a data-toggle="modal" data-target="#myModal">about</a> page for more details.</p>
      </div>
    </div>
  </body>
  <script type="text/javascript">
    cfg = {
      showCorporateColumn: '{{this.cfg.showCorporateColumn}}',
      showQlikColumn: '{{this.cfg.showQlikColumn}}',
      showLicenseColumn: '{{this.cfg.showLicenseColumn}}',
      showCorporateGroups: '{{this.cfg.showCorporateGroups}}',
      showQlikGroups: '{{this.cfg.showQlikGroups}}',
      showLicenseGroup: '{{this.cfg.showLicenseGroup}}'
    };
  </script>
</html>
