<nav class="navbar navbar-default">
<div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">     
    <a href="/" class="pull-left"><img alt="iPortal" src="/images/powertoolslogo.png"></a>
    <a class="navbar-brand" href="/" style="padding-left: 20px;"> iPortal</a>
    </div>
    
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">                                                       
    <ul class="nav navbar-nav navbar-right">                                       
        <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-menu-hamburger"></span></a>
        <ul class="dropdown-menu">
            <li><a href="/grid"><i class="glyphicon glyphicon-th-large"></i> Show Grid View</a></li>
            <li role="separator" class="divider"></li>
            <li><a class="toggle-desc-column"><i id="colDesc" class="glyphicon glyphicon-unchecked"></i> Description</a></li>            
            <li><a class="toggle-corp-column"><i id="colCorp" class="glyphicon glyphicon-unchecked"></i> Corporate Groups</a></li>            
            <li><a class="toggle-qlik-column"><i id="colQlik" class="glyphicon glyphicon-unchecked"></i> Qlik Groups</a></li>            
            <li><a class="toggle-license-column"><i id="colLic" class="glyphicon glyphicon-unchecked"></i> License Group</a></li>            
            <li role="separator" class="divider"></li>
            <li><a data-toggle="modal" data-target="#myModal"><i class="glyphicon glyphicon-eye-open"></i> About iPortal</a></li>                      
        </ul>
        </li>
    </ul>
    </div>  
    
</div><!-- /.container-fluid -->
</nav> 

<div class="list-container">   
    <table id="iPortalUsers" class="table table-striped display">
        <thead>
            <tr>            
                <th class="th-sm" scope="col">Action</th>                
                <th class="th-sm" scope="col">Name</th>                
                <th class="th-sm" scope="col">Title</th>                
                <th class="th-sm" scope="col">Description</th>                
                <th class="th-sm" scope="col" >Corporate Groups</br>(Informational Security)</th> 
                <th class="th-sm" scope="col" >Qlik Groups</br> (Functional Security)</th>                               
                <th id="License" class="th-sm" scope="col" >License Group</br>(Product Capabilities)</th>
            </tr>
        </thead>
        <tbody>
    {{#each users}}
        <tr>            
            <td align="left">
                {{#each this.apps}} 
                <a class="btn {{ButtonStyle this}} btn-sm user-table-btn" href="/login?user={{../userid}}&directory={{../udc}}&app={{this}}">{{this}}</a>
                {{/each}}
            </td>            
            <td align="left">
                <div><img class="user-table-image" src="/images/{{../cfg.theme}}/{{this.image}}"></img></div>
                <div>{{this.name}}</br>{{this.title}}</div>                 
            </td>            
            <td align="left">
                {{this.title}}
            </td>
            <td align="left">
                {{this.description}}
            </td>            
            <td align="left">
                {{#each corpGroups}}
                        <button class="group-btn">{{this}}</button>
                {{/each}}      
            </td>
            <td align="left">
                {{#each qlikGroups}}
                        <button class="group-btn">{{this}}</button>
                {{/each}}
            </td>
            <td align="left">
                <button class="group-btn">{{this.license}}</button>                
            </td>
        </tr>
    {{/each}}
    </tbody>
    </table>
</div>


